{
    "extends": ["react-app", "react-app/jest"],
    "plugins": ["simple-import-sort"],
    "rules": {
      "no-console": "warn",
      "prettier/prettier": "warn",
      "react/display-name": "warn",
      "react/jsx-no-target-blank": "warn",
      "react/no-unescaped-entities": "warn",
      "simple-import-sort/exports": "warn",
      "simple-import-sort/imports": "warn"
    }
}